.genres{
    display: flex;
    gap: 5px;
    .genre{
        background-color:rgb(219, 35, 35);
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
    }
}